/*
    Morgun 27.03.2020
*/
#tracking_result .card .status_bold,
#tracking_archive .card .status_bold {
    font-size: 14px;
    line-height: 16px;
    color: #000;
    display: block;
    clear: both;
}
.status_bold:before {
    content: attr(data-ico-fa);
    height: 25px;
    width: 25px;
    font-family: "Font Awesome 5 Pro";
    background-color: #90DFAA;
    font-weight: bold;
    color: white;
    display: block;
    text-align: center;
    border-radius: 50%;
    float: left;
    padding: .25rem;
    margin-right: .5rem;
    font-size: 10px;
}
.status_bold.b-danger:before {
    background-color: #F05050;
}
#tracking_result .card .status_date,
#tracking_archive .card .status_date {
    display: block;
    color: #949494;
    font-size: 12px;
    line-height: 14px;
    margin-top: 6px;
    letter-spacing: 1px;
}
#tracking_result .items-st,
#tracking_archive .items-st {
    margin: 1rem 0;
    overflow: hidden;
}
#tracking_result .line-st,
#tracking_archive .line-st {
    width: 1px;
    position: absolute;
    background: #90DFAA;
    margin: 1.75rem;
    top: 0;
    bottom: 20px;
}
#tracking_result .del_tracking,
#tracking_archive .del_tracking {
    color: #C4C4C4;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.154604 0.11909C0.312821 -0.0396966 0.569341 -0.0396966 0.727557 0.11909L9.88134 9.30583C10.0396 9.46462 10.0396 9.72206 9.88134 9.88085C9.72312 10.0396 9.4666 10.0396 9.30838 9.88085L0.154604 0.694106C-0.00361227 0.535319 -0.00361227 0.277876 0.154604 0.11909Z' fill='%23C4C4C4'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.8454 0.119151C10.0036 0.277937 10.0036 0.535381 9.8454 0.694167L0.691615 9.88091C0.533399 10.0397 0.276879 10.0397 0.118662 9.88091C-0.0395542 9.72212 -0.039554 9.46468 0.118662 9.30589L9.27244 0.119151C9.43066 -0.0396352 9.68718 -0.0396352 9.8454 0.119151Z' fill='%23C4C4C4'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
}
#tracking_result .items-status,
#tracking_archive .items-status {
    padding: 1rem;
    position: relative;
}
#tracking_result .del_tracking:hover,
#tracking_archive .del_tracking:hover {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.154604 0.11909C0.312821 -0.0396966 0.569341 -0.0396966 0.727557 0.11909L9.88134 9.30583C10.0396 9.46462 10.0396 9.72206 9.88134 9.88085C9.72312 10.0396 9.4666 10.0396 9.30838 9.88085L0.154604 0.694106C-0.00361227 0.535319 -0.00361227 0.277876 0.154604 0.11909Z' fill='%230055A6'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.8454 0.119151C10.0036 0.277937 10.0036 0.535381 9.8454 0.694167L0.691615 9.88091C0.533399 10.0397 0.276879 10.0397 0.118662 9.88091C-0.0395542 9.72212 -0.039554 9.46468 0.118662 9.30589L9.27244 0.119151C9.43066 -0.0396352 9.68718 -0.0396352 9.8454 0.119151Z' fill='%230055A6'/%3e%3c/svg%3e ");
}
#tracking_result .sender_status > span:before,
#tracking_archive .sender_status > span:before {
    font-family: "Font Awesome 5 Pro" !important;
    background-color: rgb(255, 255, 255);
    color: black;
    height: 30px;
    width: 30px;
    display: inline-block;
    text-align: center;
    content: attr(data-ico-fa);
    font-weight: bold;
}
.s-danger,
.s-danger:before {
    color: #F05050 !important;
}
.s-success,
.s-success:before {
    color: #90DFAA !important;
}
.from_to_city,
.from_to_city_rf {
    padding: 1rem;
    font-size: 18px;
    line-height: 21px;
    text-align: left;

    background: #EBF5FF;
    color: #000000;
    border-top: 1px solid #C4C4C4;
}
#tracking_result .traking_history_card > .card,
#tracking_archive .traking_history_card > .card {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 1.5rem auto;
}
#tracking_result .traking_history_card > .card:hover,
#tracking_archive .traking_history_card > .card:hover {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    /*border: 1px solid #0055A6;*/
}
#tracking_result .traking_history_card .card > .sender_info,
#tracking_archive .traking_history_card .card > .sender_info {
    padding: 36px 30px 32px 30px;
}
#tracking_result .sender_city,
#tracking_archive .sender_city {
    font-size: 18px;
    line-height: 21px;
    text-align: left;

    color: #0055A6;
}
#tracking_result .sender_status,
#tracking_archive .sender_status {
    font-size: 18px;
    line-height: 21px;
    display: inline-block;

    color: #000000;
}
#tracking_result .geter_shki,
#tracking_archive .geter_shki {
    font-size: 14px;
    line-height: 16px;
    text-align: left;

    color: #949494;
    margin-top: 10px
}
.tr_archive {
    background: #EBF5FF;
    border-radius: 100px;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    width: 192px;
    padding: 14px 0;
    display: inline-block;
}
.tr_archive:hover {
    cursor: pointer;
    color: var(--deep_blue) !important;
}
.breadcrumbs {
    display: none;
}

.container.pb-5 .text-center.text-primary:first-child {

    position: absolute;
    left: 0;
    right: 0;
    height: 360px;

    z-index: -1;
}
.container.pb-5 .text-primary h1 {
    padding-top: 95px;
}


#tracking-form {
    padding-top: 165px;
}

.form-item-tracking-group-search-tracking {
    margin-left: auto;
}
#edit-tracking-group-search-tracking {
    display: block;
    width: 260px;
    height: 40px;

    border-radius: 10px 0 0 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}
#view_tracking {
    font-family: "Font Awesome 5 Pro" !important;
    font-weight: 900;

    width: 40px;
    height: 40px;
    margin: 1.25rem auto 2rem 0;
    border-radius: 0 10px 10px 0;

    font-size: 18px;
    line-height: 20px;
}
#view_tracking.progress-disabled {
    background: var(--deep_blue) url(/sites/default/files/ajax_load_1.gif) no-repeat center;
    color: transparent !important;
    background-size: 2rem;
    background-position: center;

    /*animation: 1s linear 0s normal none infinite running rot;*/
    /*-webkit-animation: 1s linear 0s normal none infinite running rot;*/
}
.ajax-progress.ajax-progress-throbber {
    display: none;
}
#traking_help {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-decoration-line: underline;
    width: 200px;
    position: relative;
    margin: 0 auto;
    padding: 0 !important;
    display: block;
}
.input-group .btn.disabled, .input-group .btn:disabled {
    opacity: 1 !important;
}
#traking_help > p span {
    width: 100%;
    font-size: 14px;
    line-height: 16px;
}
/*#tracking_auth {*/
    /*margin-top: 165px;*/
/*}*/
#tracking_auth a {
    height: 40px;
    padding: .5rem;
    height: 40px;

    width: 192px;
    margin: 1rem;
}

#tracking_result .traking_history_card .card > .sender_info:hover,
#tracking_archive .traking_history_card .card > .sender_info:hover,
.from_to_city:hover,
.from_to_city_rf:hover,
.del_tracking:hover {
    cursor: pointer;
}

.movie_info {
    display: none;
}
.show_movie > .movie_info {
    display: block;
}
/*.b-radis:last-of-type   {*/
    /*border-bottom-right-radius: 10px;*/
    /*border-bottom-left-radius: 10px;*/
/*}*/
.from_to_city.b-radis + .items-st,
.from_to_city_rf.b-radis + .items-st {
    display: none;
}


@media (min-width: 993px) {
    .traking_captcha {
        margin-top: -1rem;
        margin-right: 40px;
    }
    #tracking_result .traking_history_card > .card,
    #tracking_archive .traking_history_card > .card {
        width: 605px;
        height: 116px;
    }
    #tracking_result .traking_history_card > .card.show_movie,
    #tracking_archive .traking_history_card > .card.show_movie {
        height: auto;
    }
    .container.pb-5 .text-center.text-primary:first-child {
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.58) 26.36%, rgba(255, 255, 255, 0) 100%), url("/sites/all/modules/tracking/img/banner.jpg");
        background-size: cover;
        background-position-y: center;
    }
    .container.pb-5 .text-primary h1 {
        color: white;
    }
    #traking_help {
        color: #FFFFFF !important;
        margin-bottom: 110px;
    }
}
@media (max-width: 992.98px) {
    .traking_captcha {
        margin-top: -1rem;
        margin-right: 40px;
    }
    .status_date {
        margin-left: 2rem;
    }
    #traking_help {
        margin-bottom: 50px;
    }
    #tracking_result .traking_history_card > .card.show_movie .sender_status {
        display: none;
    }
    #tracking_result .traking_history_card > .card,
    #tracking_archive .traking_history_card > .card {
        height: 155px;
    }
    #tracking_result .traking_history_card > .card.show_movie,
    #tracking_archive .traking_history_card > .card.show_movie {
        height: auto;
    }
    #tracking_result .traking_history_card .card.show_movie > .sender_info,
    #tracking_archive .traking_history_card .card.show_movie > .sender_info {
        padding: 36px 30px 0px 30px;
    }
    .from_to_city,
    .from_to_city_rf {
        border-top: 0px solid #C4C4C4;
    }
}
@media (min-width: 763px) {
    #tracking_result .sender_status,
    #tracking_archive .sender_status {
        text-align: right;
    }

    #tracking_auth a {
        padding: 0.5rem;
    }
}

@media (max-width: 768.98px) {
    #tracking_auth a {
        padding: 0.75rem;
    }
}



